.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.reviewDiv {
  border: 3px solid black;
  width: 40vw;
  text-align: center;
  margin: auto;
  padding: 5px;
}

.feedbackDiv {
  border: 3px solid black;
  width: 40vw;
  text-align: center;
  margin: auto;
  padding: 5px;
  padding-bottom: 10px;
}

#commentInput {
  width: 300px;
  height: 150px;
}

